.dialog {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  display: flex;
  flex-direction: column;
}

.dialog-body {
  display: flex;
  overflow-y: auto;
}

.full-dialog-width {
  width: 100%;
}

.form-buttons {
  margin-bottom: 1em;
}
